$color-text-nav: #4d4959; 
$color-text-heading: #353738;
$color-paragraph: #848789;
$color-bg-discover: #282f35;

$color-white: #fff;
$color-white-dark: #f7f7f7;

$colot-green-light: #64c29e;
$colot-green-dark: #42a780;

