*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;    
    @include respond(bp2) {
        font-size: 55%;
    }
}

body {
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
}

input, button{
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-family:inherit;
}

::-webkit-input-placeholder { /* Edge */color: #cdcdcd;}
:-ms-input-placeholder { /* Internet Explorer */color:#cdcdcd; ;}
::placeholder {color: #cdcdcd;}
