.heading {
      margin: 3rem 0;
      font-size: 1.8rem;
      font-weight: 700;
      text-transform: uppercase;
      color: $color-text-heading;
      letter-spacing: .3rem;

      &--span {
            color: $color-paragraph;
            text-transform: none;
            font-weight: 400;
      }

      &--initial {
            text-transform: none;
      }
}

.paragraph {
      color: $color-paragraph;
      font-weight: 400;
      line-height: 1.7;

      &--italic {
            font-style: italic;
      }
}
